[Unit]
Description=Check finished Treasure Hauls recordings every 15 minutes
[Timer]
OnBootSec=5min
OnUnitInactiveSec=15min
Persistent=true
[Install]
WantedBy=timers.target
